.content{
    height: 100%;
}
.main_content {
    margin-top: 47px;
}

.single-content{
    margin-top: 24px;
}

.bread__crumbs {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #ffffff;
    position: relative;
    
}

.bread__crumbs_list {
    display: flex;
    overflow: auto hidden;
    white-space: nowrap;
}
.bread__crumbs_list::-webkit-scrollbar{
    height: 0;
}
.bread__crumbs_item {
    position: relative;
    
}

.bread__crumbs_item:not(:last-child){
    margin-right: 35px;
}

.bread__crumbs_item:not(:first-child)::before{
    position: absolute;
    content: "";
    left: -24px;
    top: 1.5px;
    width: 10px;
    height: 10px;
    background: url(../../image/sep.svg) no-repeat center / cover;
}

.bread__crumbs_link {
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.8s ease-in;
    
}

.bread__crumbs_link:hover{
    background: linear-gradient(90deg, #ACD685 0%, #56851F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.8s ease-in;
    opacity: 1;
    transition: opacity 0.2s;
}
.bread__crumbs_link:active{
    opacity: 0.6;
    transition: opacity 0.2s;
}

.bread__crumbs_span{
    opacity: 0.4;
}

.content__bg {
    width: 100%;
    height: 332px;
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.content__head_title {
    max-width: 500px;
    margin: 50px;
}
.content__head_title h3,
.content__head_title h1{
    display: inline;
    font-family: 'Akrobat', serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    color: #FFFFFF;
    background: black;
}

.content__head_btn {
    display: grid;
    width: 70px;
    height: 70px;
    background-color: black;
    margin: 38px;
}
.content__head_btn-span {
    justify-self: center;
    align-self: center;
    width: 29px;
    height: 17px;
    background: url(../../image/btn-right.svg) no-repeat center / cover;
}

.cta {
    margin-bottom: 32px;
}
.cta__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(131.17deg, #DE4261 0%, #8E1626 100%);
    border-radius: 10px;
    padding: 15.85px 17px 17px 222px;
    position: relative;
}
.cta__text {
    font-weight: 700;
    text-transform: uppercase;

}
.cta__title {
    /* font-weight: 700; */
    font-size: 34px;
    line-height: 41px;
    /* text-transform: uppercase; */
}
.cta__p {
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 22px;
    /* text-transform: uppercase; */
}

.cta__block::before{
    position: absolute;
    content: "";
    top: -16px;
    left: -36px;
    width: 264.34px;
    height: 161.23px;
    background: url(../../image/diamond.png) no-repeat center / cover;
}

@media (max-width: 899px){
    .cta__block{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

}

@media (max-width: 810px){
    .content__bg{
        height: 255px;
    }
    .content__head_title h3,
    .content__head_title h1{
        font-size: 50px;
    }
}
@media (max-width: 556px){
    .content__bg{
        padding: 20px;
    }
    .content__head_title{
        margin: 0;
    }
    .content__head_btn{
        width: 60px;
        height: 60px;
    }
    .content__head_title h3,
    .content__head_title h1{
        font-size: 30px;
    }
    .content__head_btn{
        margin: 0;
    }
    .cta-btn{
        position: absolute;
        font-size: 14px !important;
        bottom: 20px;
        left: 30px;
        width: 150px !important;
        height: 48px !important;
    }
    .cta__title{
        margin-bottom: 20px;
    }
}

@media (max-width: 425px){
    .cta__block{
        padding: 20px 0 20px;
    }
    .cta__block::before{
        display: none;
    }
    .cta__text{
        justify-self: center;
        text-align: center;
    }
    .cta-btn{
        position: inherit;
        bottom: 0;
        left: 0;
        justify-self: center;
    }
}