.page-404 {
    height: 100%;
    display: flex;
    padding: 50px 0 0;
}
.page-404__content{
    position: relative;
    left: -170px;
    top: 130px;
    z-index: 1;
}
.page-404__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
}
.page-404__title-span{
    font-weight: 900;
    font-size: 44px;
    line-height: 100%;
}
.page-404__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 66px;
    background: #DD3549;
    font-family: 'PT Sans', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 61px;
}
.page-404__bg {
    width: 734px;
    height: 846px;
    object-fit: cover;
    filter: drop-shadow(102px 32px 36px rgba(0, 0, 0, 0.45));
    order: -1;
}

@media (max-width: 1000px){
    .page-404__bg{
        width: 550px;
        height: 600px;
    }
    .page-404__content{
        left: -96px;
    }
}
@media (max-width: 768px){
    .page-404{
        display: grid;
        padding: 0;
        margin-top: -100px;
    }
    .page-404__bg{
        width: 450px;
        height: 450px;
        order: 1;
    }
    .page-404__content{
        justify-self: end;
        left: -27px;
        top: 272px;
    }
    .page-404__title{
        font-size: 45px;
    }
    .page-404__title-span{
        font-size: 30px;
    }
    .page-404__link{
        width: 160px;
        height: 60px;
        margin-top: 30px;
    }
}
