.swiper-head {
    display: flex;
}
.swiper {
    width: 584px;
    margin: 0;
}
.swiper-wrapper {
    width: 584px;
    height: 305px;
}
.swiper-slide__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swiper-slide__caption{
    position: relative;
    width: 117px;
    top: -100px;
    left: 30px;
}
.swiper-slide__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
}
.swiper-slide__text{
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
}
.swiper-slide__btn{
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    bottom: 150px;
    left: 485px;
    background: #DD3549 url(../../image/play.svg) no-repeat center / 28px 28px;
    opacity: 1;
    transition: opacity 0.3s;
}

.swiper-slide__btn:active{
    transition: opacity 0.3s;
    opacity: 0.6;
}
.swiper__descr {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
}
.swiper__descr_title {
    font-weight: 800;
    font-size: 57.6px;
    line-height: 96.5%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 269px;
    margin-bottom: 71px;
}
.swiper__descr_title span{
    color: #dd3549;
}
.swiper__descr_link {
    width: 250px;
    height: 66px;
    background-color: #dd3549;
    text-align: center;
    padding-top: 22px;
    font-family: 'PT Sans', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
}
.swiper-bottom {
    display: flex;
    margin-top: 18px;
}
.swiper-pagination {
    width: 10%;
    max-width: 20%;
    position: inherit;
    display: flex;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 0px;
    opacity: 0.3;
    transition: 0.3s;
}
.swiper-pagination-bullet-active{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    opacity: 1;
    transition: 0.3s;
}

.swiper__span {
    width: 100%;
    height: 12px;
    background-color: #FFFFFF;
    opacity: 0.1;
}